/*
 * @author ojourmel
 *
 */

html {
    font-size: 1.5em;
}

body{
    min-width:320px;
    width: auto !important;
    width:320px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#sc-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

#sc-main {
    flex: 1;
}

.ui.centered.grid {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tt {
    font-family: monospace !important;
}
.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.large-padding {
    padding-left: 10px! important;
    padding-right: 10px! important;
}

.force-btn {
    cursor: pointer;
    cursor: hand;
}
.force-btn:hover {
    opacity: 0.8;
}

#date {
    text-align: right;
}
#clock {
    font-size: 4em;
}

.text-large {
    font-size: 1.8em;
}
.text-center {
    text-align: center !important;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.text-right {
    text-align: right !important;
}

.checkitem {
    background: #bdbdbd;
}
.checkitem.active {
    background: #8cdd81;
}
.checkitem:hover {
    opacity: 0.8;
}
.checkedit {
    margin-left: 10px !important;
}

@media screen and (min-width: 480px) {
    #checklist{
        width: 80% !important;
        min-width: 480px !important;
        margin: 0 auto;
    }
}
